*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-container {
  background-color: #232327;
  color: #FFF;
  font-family: sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.list, #detail {
  height: 100%;
  overflow-y: scroll;
}

#data-table {
  width: 100%;
}

.pane {
  color: #fff;
  min-width: 250px;
  flex-grow: 1;
}

.right {
  position: relative;
  padding-left: 4px;
}

.gutter {
  width: 4px;
  height: 100%;
  background: #666;
  position: absolute;
  top: 0;
  left: 0;
  cursor: col-resize;
}

.tabs {
  background-color: #f1f1f1;
}

.tabs button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  padding: 4px 6px;
  transition: 0.3s;
}

.tabs button:hover {
  background-color: #ddd;
}

.tabs button.active {
  background-color: #ccc;
}

.tab-content {
  display: none;
  font-size: 14px;
}

.tab-content.active {
  display: block;
}

.tab-content table {
  width: 100%;
}

.tab-content table thead tr {
  background: #f1f1f1;
  color: #000;
}

.tab-content table thead td {
  padding: 2px 6px;
}

.tab-content table tbody {
  font-size: 12px;
}
