*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-container {
  background-color: #232327;
  color: #FFF;
  font-family: sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.list, #detail {
  height: 100%;
  overflow-y: scroll;
}

#data-table {
  width: 100%;
}

.pane {
  color: #fff;
  min-width: 200px;
  flex-grow: 1;
}

.right {
  position: relative;
  padding-left: 4px;
}

.gutter {
  width: 4px;
  height: 100%;
  background: #666;
  position: absolute;
  top: 0;
  left: 0;
  cursor: col-resize;
}
